#Exclude ALL FILES
*
#Except :

# Dll Proxy
!DllProxy
!DllProxy/**/*

# Source codes
!include/
!include/**/*
!src/
!src/**/*

# Configuration and documentation
!CMakeLists.txt
!.clangd
!README.md

# Git Action
!.github/
!.github/**/*