name: "Build Check"

on:
    push:
        branches-ignore:
            - master
    pull_request:
        branches:
            - master

env:
    BUILD_TYPE: Release

jobs:
    build-check:
        runs-on: windows-latest
        steps:
        - uses: actions/checkout@v4
        
        - name: Install LLVM 21.1.0
          run: choco install llvm --version=21.1.0 -y
          shell: powershell
        
        - name: Add LLVM to PATH
          run: echo "C:\Program Files\LLVM\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          shell: powershell
        
        - name: Pull submodule
          run: git submodule update --init

        - name: Configure CMake with Clang-CL
          run: cmake -B ${{github.workspace}}/build -G "Ninja" -DCMAKE_C_COMPILER=clang-cl -DCMAKE_CXX_COMPILER=clang-cl -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DMLDEBUG=OFF
        
        - name: Build project
          run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}